# Nextflow
.nextflow*
work/

# nf-core
null/
data/
results/
testing/
testing*/

# Pixi
.pixi/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Editors
.vscode/
.idea/
*.swp
*.swo
*~