/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'SAMPLESHEET_CHECK' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

   // SUBWORKFLOW: QC
    withName: 'FASTQC' { // Applies to both raw and after trimming
        ext.args = '--quiet'
    }
    withName: 'FASTQC_RAW' {
        publishDir = [
            path: { "$params.outdir/FASTQC_BEFORE_TRIMMING" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'FASTQC_TRIM' {
        publishDir = [
            path: { "$params.outdir/FASTQC_AFTER_TRIMMING" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'CUTADAPT' {
        publishDir = [
            path: { "$params.outdir/CUTADAPT_ADAPTER_TRIMMING" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // SUBWORKFLOW: ALIGN
    // BOWTIE2 files
    withName: 'FASTQ_ALIGN_BOWTIE2:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_(SORT|INDEX)' {
        publishDir = [
            path: { "$params.outdir/BOWTIE2/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.sorted"}
    }

    // SUBWORKFLOW: KRAKENUNIQ
    withName: 'KRAKENUNIQ_BUILD' {
        ext.args = '--kmer-len 21 --minimizer-len 11 --jellyfish-bin $( which jellyfish )'
    }
    withName: "KRONA_KTUPDATETAXONOMY" {
        storeDir = "$params.db_cache/ncbi_taxonomy"
    }
    withName: 'KRAKENUNIQ_PRELOADEDKRAKENUNIQ' {
        publishDir = [
            path: { "$params.outdir/KRAKENUNIQ/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'KRAKENUNIQ_FILTER' {
        publishDir = [
            path: { "$params.outdir/KRAKENUNIQ/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'KRAKENUNIQ_TOKRONA' {
        publishDir = [
            path: { "$params.outdir/KRAKENUNIQ/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'KRONA_KTIMPORTTAXONOMY' {
        publishDir = [
            path: { "$params.outdir/KRAKENUNIQ/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'KRAKENUNIQ_ABUNDANCEMATRIX' {
        publishDir = [
            path: { "$params.outdir/KRAKENUNIQ_ABUNDANCE_MATRIX" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    // SUBWORKFLOW: Map Damage
    withName: 'SAMTOOLS_VIEW' {
        ext.prefix = { "${meta.id}.${meta.taxid}" }
        ext.args   = '-bh --write-index'
        ext.args2  = { meta.seqids.join(' ') }
    }

    withName: 'MAPDAMAGE2' {
        ext.args  = '--merge-reference-sequences'
        publishDir = [
            path: { "$params.outdir/MAPDAMAGE/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // SUBWORKFLOW: Malt
    withName: 'MALT_PREPAREDB' {
        publishDir = [
            path: { "$params.outdir/MALT_DB" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'MALT_BUILD' {
        ext.args = '-s DNA'
        publishDir = [
            path: { "$params.outdir/MALT_DB" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MALT_RUN' {
        ext.args = { [
            '--alignmentType SemiGlobal',
            '--minSupport 1',
            '--maxAlignmentsPerQuery 100',
            '--topPercent 1',
            '--minPercentIdentityLCA 85.0',
            '--minPercentIdentity 85.0',
            "--alignments ${meta.id}.trimmed.sam"
        ].join(" ").trim() }
        publishDir = [
            path: { "$params.outdir/MALT" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'MALT_QUANTIFYABUNDANCE' {
        publishDir = [
            path: { "$params.outdir/MALT_QUANTIFY_ABUNDANCE/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'MALT_ABUNDANCEMATRIXSAM' {
        publishDir = [
            path: { "$params.outdir/MALT_ABUNDANCE_MATRIX_SAM" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'MALT_ABUNDANCEMATRIXRMA6' {
        ext.args = "-r 'S'"
        publishDir = [
            path: { "$params.outdir/MALT_ABUNDANCE_MATRIX_RMA6" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // SUBWORKFLOW: authentic
    withName: 'MALTEXTRACT' {
        memory   = 32.GB
        ext.args = "-f def_anc --reads --matches --minPI 85.0 --maxReadLength 0 --minComp 0.0 --meganSummary -v"
        publishDir = [
            path: { "$params.outdir/AUTHENTICATION/${meta.id}/${meta.taxid}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'BREADTHOFCOVERAGE' {
        publishDir = [
            path: { "$params.outdir/AUTHENTICATION/${meta.id}/${meta.taxid}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'READLENGTHDISTRIBUTION' {
        publishDir = [
            path: { "$params.outdir/AUTHENTICATION/${meta.id}/${meta.taxid}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'PMDTOOLS_SCORE'{
        publishDir = [
            path: { "$params.outdir/AUTHENTICATION/${meta.id}/${meta.taxid}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'PMDTOOLS_DEAMINATION' {
        publishDir = [
            path: { "$params.outdir/AUTHENTICATION/${meta.id}/${meta.taxid}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'AUTHENTICATIONPLOTS' {
        publishDir = [
            path: { "$params.outdir/AUTHENTICATION/${meta.id}/${meta.taxid}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'AUTHENTICATIONSCORE' {
        publishDir = [
            path: { "$params.outdir/AUTHENTICATION/${meta.id}/${meta.taxid}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // summary
    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
